.login{
    background-image: url("https://i.postimg.cc/j50gF67R/city-view-bay-bridge-san-francisco-skyline-panorama-from-treasure-island-sunset-california-united-st.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}